body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #021e51;
}

header {
    background-color: #390870;
    color: #1e3dc4;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

nav ul li a:hover {
    color: #0056b3;
}

#eliminarUsuarioForm,
#crearPreguntaForm {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

#eliminarUsuarioForm h2,
#crearPreguntaForm h2 {
    color: #007bff;
    margin-bottom: 15px;
}

#eliminarUsuarioForm label,
#crearPreguntaForm label {
    font-weight: bold;
    color: #555;
    display: block;
    margin-bottom: 10px;
}

#eliminarUsuarioForm input,
#crearPreguntaForm input,
#eliminarUsuarioForm select,
#crearPreguntaForm select {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #1c1818;
    margin-bottom: 10px;
}

#eliminarUsuarioForm input[type="submit"],
#crearPreguntaForm input[type="submit"] {
    background-color: #007bff;
    color: #ffffff;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#eliminarUsuarioForm input[type="submit"]:hover,
#crearPreguntaForm input[type="submit"]:hover {
    background-color: #358ce8;
}
