body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #040229;
}

header {
    background-color: #1d048e;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    border-bottom: 4px solid #091ceb; /* Borde inferior con tono más oscuro */
}

.ImgJuego {
    text-align: center;
    margin-top: 50px; /* Espacio superior para centrar la imagen verticalmente */
}

.ImgJuego img {
    width: 50%; /* Ajustar el ancho al 80% del contenedor */
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Sombra suave alrededor de la imagen */
}

nav {
    text-align: center;
    margin-top: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 15px 40px; /* Aumentar el padding para hacer el botón más grande */
    border-radius: 5px;
    transition: background-color 0.3s ease;
    background-color: #13028e; /* Color de fondo verde */
}

nav ul li a:hover {
    background-color: #230ec4; /* Color de fondo más claro al pasar el mouse */
}

main {
    text-align: center;
    margin-top: 50px;
}

main h2 {
    color: #1b06ff;
    margin-bottom: 20px;
}

main p {
    color: #510dff;
}
