body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1e06a5;
}

.container {
    background-color: #ad73d3;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(1, 23, 221, 0.1);
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
}

.question {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 20px;
    color: #333;
}

.options {
    list-style: none;
    padding: 0;
    margin: 0;
}

.option {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s;
}

.option:hover {
    background-color: #f9f9f9;
}

.option input[type="radio"] {
    display: none;
}

.option label {
    display: inline-block;
    vertical-align: middle;
}

.respuesta-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-size: cover;
}
.submit-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #0056b3;
}